<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>

</head>
<body>
    <form action="/user_data" method="POST">
        <label for="firstName">FirstName</label>
        <input type="text" id="firstName" placeholder="First Name" name="firstName"/>
        <label for="lastName">LastName</label>
        <input type="text" placeholder="Last Name" id="lastName" name="lastName"/>
        <label for="MobNumber">Mobile_no:</label>
        <input type="number" placeholder="Mob_number" id="MobNumber" name="mobile"/>
         <label for="email">Email:</label>
        <input type="text" placeholder="Email" id="email" name="email" />
       <label for="pw">Password</label>
      <input type="password" placeholder="type Password" id="pw" name="password" />
      <input type="submit" value="Submit">
    </form>
  <p>
    <ul>
    <% userData.forEach(element => { %>
      <li><%= element.firstName %></li>
      <li><%= element.lastName %></li>
      <li><%= element.mobile %></li>
      <li><%= element.email %></li>
      <li><a href="/delete_user/<%= element._id %>">Delete</a></li>
    
      <li><a href="/edit_user/<%= element._id %>">edit</a></li>
    
      <% }) %>

  </p>
</ul>
</body>
</html>